header,nav,body,footer,aside,section {
	border:  1px solid grey; 
	margin:  1%;
	padding: 0.7%;
}
header{
	/*background: linear-gradient(to right,rgba(0,0,0,100),rgba(0,0,0,0)),url(res/background_header_books.jpg);*/
	
	background: url(../res/img/background_header_books.jpg);
    background-repeat: repeat;
    background-size: auto;
    background-position: right center;*/
}

aside#ad1{
	float: 	left;
	width:	19%	;
}

aside#ad2{
	float: 	right;
	width:	19%;
}


section {
	float:	left;
	width:	50%;
	margin: 
}

.nofloat{
	clear:	both;
}

div {
    text-align: justify;
    text-justify: inter-word;
}

