header,nav,body,footer,aside,section {
	border:  1px solid grey;
	margin:  0.5%;
	padding: 0.7%;
}
header{
	background: url(../res/img/background_header_books.jpg);
    background-repeat: repeat;
    background-size: auto;
    background-position: right center;
}

aside#ad1{
	float: 	left;
	width:	19%	;
}

aside#ad2{
	float: 	right;
	width:	19%;
}


section {
	float:	left;
	width:	59%;
}

.nofloat{
	clear:	both;
}

div {
    text-align: justify;
    text-justify: inter-word;
}

